<div class="aside m-3">
<p> Выберите тип тура </p>

<p-select 
[options]="tourTypes" 
[(ngModel)]="selectedType" 
(onChange)="changeTourType()"
optionLabel="label" 
placeholder="Выберите тип тура" 
class="w-full md:w-56" />
<div class="my-3">
    <p-datepicker 
    [showIcon]="true" 
    (onSelect)="changeDate($event)"
    (onClearClick)="clearDate()"
    [(ngModel)]="date" 
    [showButtonBar]="true" 
    dateFormat="dd-mm-yy"
    />
</div>
</div>
<label class="flex align-items-center gap-2">
  <p-checkbox
    [(ngModel)]="showOnlyInBasket"
    (ngModelChange)="onToggleBasketFilter()"
    binary="true">
  </p-checkbox>
  <span>Показать только туры в корзине</span>
</label>