<div class="ticket-info-wrap col-6">
    <div>
      <a routerLink="/tours">назад</a>
  
      <div class="mt-3">
        <h2>Информация о туре</h2>
        <div>Название: {{ tour?.name }}</div>
      </div>
  
      <div class="mt-3">
        <h2>Информация о покупателе</h2>
        <form [formGroup]="userForm">
          <div class="mt-3 user-info">
  
            @for (fieldObj of userFormFiledsArr; track fieldObj.control) {
              <ng-container
                [ngTemplateOutlet]="formFiled"
                [ngTemplateOutletContext]="{
                  controlNew: fieldObj.control,
                  placeHolder: fieldObj.placeHolder,
                  label: fieldObj.label,
                  type: fieldObj.type
                }"
              />
            }
  
            <div class="form-group mt-3">
              <p-button
                (click)="initOrder()"
                class="btn btn-primary"
                [disabled]="!userForm.valid"
                label="Сформировать заказ">
              </p-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  

<ng-template
  #formFiled
  let-controlNew="controlNew"
  let-placeHolder="placeHolder"
  let-label="label"
  let-type="type">

  <div [formGroup]="userForm" class="form-group mt-3">
    <label [attr.for]="controlNew" class="mx-3">{{ label }}</label>

    @if (type === 'number') {
      <p-inputNumber
        class="form-control mt-3"
        [formControlName]="controlNew"
        [placeholder]="placeHolder"
        [showButtons]="true"
        min="1"
        max="120">
      </p-inputNumber>
    } @else if (type === 'date') {
      <p-date-picker
        class="form-control mt-3"
        [formControlName]="controlNew"
        [placeholder]="placeHolder">
      </p-date-picker>
    } @else {
      <input
        type="text"
        class="form-control mt-3"
        pInputText
        [id]="controlNew"
        [formControlName]="controlNew"
        [placeholder]="placeHolder">
    }
  </div>
</ng-template>

  